<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>homepage</title>
</head>
<body>
    <h2>Welcome page</h2>
    <button>
        <a href="/admin">Admin Page</a>
    </button>
    <button>
        <a href="/secure">Users Information</a>
    </button>
    <button>
        <a href="/register">Registration</a>
    </button>
    <button>
        <strong>Hello, [[${username.firstName}]]</strong>
    </button>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout">
    </form>
</body>
</html>