<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>private Information</title>
</head>
<body>
    <h1><strong>Private Information of User</strong></h1>
    <button>
        <a href="/">Home</a>
    </button>
    <button>
        <strong>Hello, [[${user.firstName}]]</strong>
    </button>
    <p>Name: [[${user.lastName}]], [[${user.firstName}]]</p>
    <p>Email: [[${user.email}]]</p>

    <h1>Role of user</h1>
    <div th:each="role : ${roles}">
        <p th:text="${role.role}"></p>
    </div>
</body>
</html>